* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 

Global Variables 

*/
#loteria-container {
  min-height: 100vh;
}

/* 

Buttons

*/
#new-game-btn {
  padding: 1rem 2.5rem;
  background-color: rgb(39, 40, 40);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#new-game-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* 

Random Card generator ( the deck of cards )

*/
.card-container {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.card-container .cards {
  height: 30rem;
  width: 20rem;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.card-container .cards .computer-score-container {
  display: none;
}
.card-container .card-image {
  height: 30rem;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

/* 

Application Title & Count Down timer 

*/
.main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title-container .card-title {
  text-align: center;
  font-size: 12rem;
  margin-bottom: 3rem;
  font-family: "Dancing Script", cursive;
}
.main-title-container .card-timer {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
}

/* 

Application Status Bar ( winning / losing announcements )

*/
.win-status-container {
  min-height: 5vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.win-status-container h2 {
  font-size: 2rem;
}

/* 

Table 1 & Table 2

*/
.table-loteria-container {
  min-height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}
.table-loteria-container .loteria-subtitle,
.table-loteria-container .loteria-table-number {
  position: absolute;
  font-size: 2rem;
}
.table-loteria-container .loteria-subtitle {
  top: 7px;
  left: 10px;
}
.table-loteria-container .loteria-table-number {
  top: 7px;
  right: 10px;
}
.table-loteria-container .table-images {
  height: 15rem;
  width: 11rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* 

PLAYER 1 & COMPUTER TABLES

*/
.table-loteria {
  background-color: rgb(224, 240, 254);
  position: relative;
  height: 71rem;
  width: 49rem;
  display: grid;
  grid-template-columns: repeat(4, 11rem);
  grid-template-rows: repeat(4, 15rem);
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3), 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.table-loteria .box {
  height: 15rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-loteria .user {
  cursor: pointer;
  position: relative;
}
.table-loteria .computer {
  position: relative;
}

/* 

Dot is used on whatever the User Clicks on & whenever the computer
selects something on the table

*/
.dot {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  box-shadow: 0 2rem 3rem rgba(33, 33, 33, 0.3), 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(255, 255, 255);
  z-index: 10;
}

@media only screen and (max-width: 1179px) {
  .card-container .cards {
    height: 23rem;
    width: 15rem;
  }
  .card-container .card-image {
    height: 23rem;
    width: 15rem;
  }

  .table-loteria-container .table-images {
    height: 15rem;
    width: 10rem;
  }

  .table-loteria {
    height: 71rem;
    width: 44rem;
    grid-template-rows: repeat(4, 15rem);
    grid-template-columns: repeat(4, 10rem);
  }
  .table-loteria .box {
    height: 15rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 990px) {
  .table-loteria-container {
    width: 100%;
    margin: 0;
  }
  .table-loteria-container .table-images {
    height: 12rem;
    width: 7rem;
  }

  .table-loteria {
    height: 59rem;
    width: 32rem;
    grid-template-rows: repeat(4, 12rem);
    grid-template-columns: repeat(4, 7rem);
  }
  .table-loteria .box {
    height: 12rem;
    width: 7rem;
  }
}
@media only screen and (max-width: 721px) {
  .card-container .cards .computer-score-container {
    display: block;
  }
  .card-container .cards .computer-score-container .computer-score {
    font-size: 2rem;
  }

  .table-loteria-container {
    flex-direction: column;
  }
  .table-loteria-container .table-images {
    height: 12rem;
    width: 7rem;
  }

  .table-loteria {
    margin-bottom: 2rem;
    height: 59rem;
    width: 32rem;
    grid-template-rows: repeat(4, 12rem);
    grid-template-columns: repeat(4, 7rem);
  }
  .table-loteria .box {
    height: 12rem;
    width: 7rem;
  }

  #new-game-btn {
    padding: 0.7rem 1.4rem;
  }
}
@media only screen and (max-width: 560px) {
  .card-container {
    flex-direction: column-reverse;
  }
  .card-container .cards {
    height: 23rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-container .cards .computer-score-container {
    display: block;
  }
  .card-container .card-image {
    height: 23rem;
    width: 17rem;
  }

  .main-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }
  .main-title-container .card-title {
    font-size: 4rem;
    margin-bottom: 0rem;
  }
  .main-title-container .card-timer {
    font-size: 2rem;
  }

  .table-loteria-container {
    flex-direction: column;
  }
  .table-loteria-container .loteria-subtitle,
.table-loteria-container .loteria-table-number {
    position: absolute;
    font-size: 1.4rem;
  }
  .table-loteria-container .loteria-subtitle {
    top: 7px;
    left: 10px;
  }
  .table-loteria-container .loteria-table-number {
    top: 7px;
    right: 10px;
  }
  .table-loteria-container .table-images {
    height: 9rem;
    width: 6rem;
  }

  .table-loteria {
    margin-bottom: 2rem;
    height: 46rem;
    width: 29rem;
    grid-template-rows: repeat(4, 9rem);
    grid-template-columns: repeat(4, 6rem);
  }
  .table-loteria .box {
    height: 9rem;
    width: 6rem;
  }

  #new-game-btn {
    padding: 0.5rem 1rem;
  }
}
@media only screen and (max-width: 440px) {
  .card-container {
    flex-direction: column-reverse;
  }
  .card-container .cards {
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-container .cards .computer-score-container {
    display: block;
  }
  .card-container .card-image {
    height: 18rem;
    width: 12rem;
  }

  .main-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .main-title-container .card-title {
    font-size: 3rem;
  }
  .main-title-container .card-timer {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
  }

  .table-loteria-container {
    flex-direction: column;
  }
  .table-loteria-container .table-images {
    height: 10rem;
    width: 8rem;
  }

  .table-loteria {
    margin-bottom: 2rem;
    height: 50rem;
    width: 37rem;
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(4, 8rem);
  }
  .table-loteria .box {
    height: 10rem;
    width: 8rem;
  }

  #new-game-btn {
    padding: 0.25rem 0.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .card-container {
    flex-direction: column-reverse;
  }
  .card-container .cards {
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-container .cards .computer-score-container {
    display: block;
  }
  .card-container .cards .computer-score-container .computer-score {
    font-size: 2.1rem;
  }
  .card-container .card-image {
    height: 12rem;
    width: 9rem;
  }

  .main-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .main-title-container .card-title {
    font-size: 2rem;
  }
  .main-title-container .card-timer {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
  }

  .table-loteria-container {
    flex-direction: column;
  }
  .table-loteria-container .table-images {
    height: 8rem;
    width: 6rem;
  }

  .table-loteria {
    margin-bottom: 2rem;
    height: 42rem;
    width: 28rem;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: repeat(4, 6rem);
  }
  .table-loteria .box {
    height: 8rem;
    width: 6rem;
  }

  #new-game-btn {
    padding: 0.18rem 0.38rem;
  }
}
@media only screen and (max-height: 750px), only screen and (max-width: 1250px) {
  .main-title-container .card-title {
    font-size: 5.5rem;
  }
  .main-title-container .card-timer {
    font-size: 3rem;
  }

  .card-container {
    height: 15vh;
  }
  .card-container .cards {
    height: 15rem;
    width: 10rem;
  }
  .card-container .card-image {
    height: 15rem;
    width: 10rem;
  }
  .table-loteria-container .table-images {
    height: 8rem;
    width: 6rem;
  }

  .table-loteria {
    height: 41rem;
    width: 29rem;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: repeat(4, 6rem);
  }
  .table-loteria .box {
    height: 8rem;
    width: 6rem;
  }
}/*# sourceMappingURL=style.css.map */